extends layout

block content
  .row.main
    .col-md-4.col-md-offset-4
      h2.text-primary All Paid Students
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Student Number
            th Unpaid Amount
        tbody
          for student in students
            tr
              td=student.name
              td=student.studentNumber
              td=student.total
          tr
            td
            td Total Paid:
            td=totalUnpaid
      .row.no-print
        .col-md-4.col-md-offset-4
          button#print.btn.btn-primary Print

  script.
      $(document).ready(function(){
        $('#print').click(function(){
          $(".row.main").print({
                  globalStyles: true,
                  mediaPrint: true,
                  stylesheet: null,
                  noPrintSelector: ".no-print",
                  iframe: true,
                  append: null,
                  prepend: null,
                  manuallyCopyFormValues: true,
                  deferred: $.Deferred(),
                  timeout: 250,
                  title: "NBL ASSESSMENT",
                  doctype: '<!doctype html>'
          });
        });
      })