extends layout

block content
  .row
    .col-md-4.col-md-offset-4.well.well-lg.top-2#mainBox
      h5.text-success Select Print Option
      .row
        .col-md-12
          .list-group.table-of-contents.top-2
            a.list-group-item(href="/printsection") Print Section
            a.list-group-item(href="/printlevel") Print Level
            a.list-group-item(href="/printsoa") Print SOA according to fee
            a.list-group-item(href="/printsoachoice") Print SOA with category and filter
            a.list-group-item(href="/printdeped") Deped Info
            a.list-group-item(href="/printtoday") Today's History
            a.list-group-item(href="/printmonth") Month's History
            a.list-group-item(href="/masterdetails") All Accounts(Amounts Received, Amounts Expected To Be Received) 
            a.list-group-item(href="/printalltuition") All Tuition Fee Balance(Paid and Not Paid)
            a.list-group-item(href="/printallunpaid") All Unpaid
            a.list-group-item(href="/printallpaid") All Paid
            a.list-

